<section class="scoreboard">
    <div class="scoreboard-head">
        <h1>
            <%- data.gameStatus %>
        </h1>
        <h2 class="scoreboard-division">
            <%- data.division %>
        </h2>
    </div>
</section>